@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3c50e0;
  --input-valid: #e0e4ec;
  --error: #f00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  outline: none;
  border: none;
  background: none;
}
button {
  cursor: pointer;
}
input,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
